<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<resourceConfig>
    <name>Samtools</name>
    <id>SAMTOOLS</id>
    <help>Samtools distribution. Tools for alignments in the SAM format.</help>
    <version>0.1.14</version>
    <files>
        <file>
            <id>EXEC_PATH</id>
            <filename>samtools</filename>
        </file>
    </files>
</resourceConfig>
