<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Copyright (c) 2011  by Cornell University and the Cornell Research
  Foundation, Inc.  All Rights Reserved.

  Permission to use, copy, modify and distribute any part of GobyWeb web
  application for next-generation sequencing data alignment and analysis,
  officially docketed at Cornell as D-5061 ("WORK") and its associated
  copyrights for educational, research and non-profit purposes, without
  fee, and without a written agreement is hereby granted, provided that
  the above copyright notice, this paragraph and the following three
  paragraphs appear in all copies.

  Those desiring to incorporate WORK into commercial products or use WORK
  and its associated copyrights for commercial purposes should contact the
  Cornell Center for Technology Enterprise and Commercialization at
  395 Pine Tree Road, Suite 310, Ithaca, NY 14850;
  email:cctecconnect@cornell.edu; Tel: 607-254-4698;
  FAX: 607-254-5454 for a commercial license.

  IN NO EVENT SHALL THE CORNELL RESEARCH FOUNDATION, INC. AND CORNELL
  UNIVERSITY BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL,
  OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF THE USE OF
  WORK AND ITS ASSOCIATED COPYRIGHTS, EVEN IF THE CORNELL RESEARCH FOUNDATION,
  INC. AND CORNELL UNIVERSITY MAY HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH
  DAMAGE.

  THE WORK PROVIDED HEREIN IS ON AN "AS IS" BASIS, AND THE CORNELL RESEARCH
  FOUNDATION, INC. AND CORNELL UNIVERSITY HAVE NO OBLIGATION TO PROVIDE
  MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS, OR MODIFICATIONS.  THE CORNELL
  RESEARCH FOUNDATION, INC. AND CORNELL UNIVERSITY MAKE NO REPRESENTATIONS AND
  EXTEND NO WARRANTIES OF ANY KIND, EITHER IMPLIED OR EXPRESS, INCLUDING, BUT
  NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A
  PARTICULAR PURPOSE, OR THAT THE USE OF WORK AND ITS ASSOCIATED COPYRIGHTS
  WILL NOT INFRINGE ANY PATENT, TRADEMARK OR OTHER RIGHTS.
-->
<alignerConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>GSNAP (Goby output)</name>
    <id>GSNAP_GOBY</id>
    <dbLegacyId>gsnap (Goby native)</dbLegacyId>
    <help>GSNAP writing to Goby output.</help>
    <supportsColorSpace>false</supportsColorSpace>
    <supportsBisulfiteConvertedReads>true</supportsBisulfiteConvertedReads>
    <supportsGobyReads>true</supportsGobyReads>
    <supportsGobyAlignments>true</supportsGobyAlignments>
    <supportsPairedEndAlignments>true</supportsPairedEndAlignments>
    <supportsFastqReads>false</supportsFastqReads>
    <supportsFastaReads>false</supportsFastaReads>
    <supportsBAMAlignments>false</supportsBAMAlignments>
    <version>1.1</version>
    <indexDirectory>%NODE_LOCAL_DATA_ROOT%/%VERSION%/%ORGANISM%/%SPACE%/gsnap</indexDirectory>
    <runtime>
        <need scope="ALIGN" key="excl" value="true"/>
        <need scope="ALIGN" key="h_vmem" value="25g"/>
        <need scope="ALIGN" key="virtual_free" value="28g"/>
        <need scope="ALIGN" key="os" value="rhel5.4"/>
        <need scope="ALIGN_JVM" value="4g"/>
        <need scope="ALIGNMENT_POST_PROCESSING" key="excl" value="false"/>
        <need scope="ALIGNMENT_POST_PROCESSING" key="h_vmem" value="10g" />
        <need scope="ALIGNMENT_POST_PROCESSING" key="virtual_free" value="12g" />
    </runtime>
    <requires>
        <resource>
            <id>GSNAP_WITH_GOBY</id>
            <versionAtLeast>2011.11.17</versionAtLeast>
        </resource>
        <resource>
            <id>ILLUMINA_ADAPTERS</id>
            <versionAtLeast>1.0</versionAtLeast>
        </resource>
        <resource>
        	<id>EXTRACT_NONMATCHED</id>
        	<versionAtLeast>2012.06.05</versionAtLeast>
        </resource>
    </requires>
    <options>
        <option>
            <id>ALIGNER_OPTIONS</id>
            <dbLegacyId>alignerAdvancedOptions</dbLegacyId>
            <name>Other aligner options</name>
            <help>Provide any additional GSNAP option here following the syntax expected by GSNAP.</help>
            <required>false</required>
            <defaultsTo></defaultsTo>
            <type>STRING</type>
            <flagFormat>%s</flagFormat>
            <includeSpaces>true</includeSpaces>
        </option>
        <option>
            <id>AMBIGUITY_THRESHOLD</id>
            <dbLegacyId>ambiguityThreshold</dbLegacyId>
            <name>Ambiguity threshold</name>
            <help>The maximum number of locations a read can match in the reference to not be considered ambiguous. Read
                is ambiguous if #hits>threshold.
            </help>
            <required>true</required>
            <defaultsTo>1</defaultsTo>
            <autoFormat>true</autoFormat>
            <type>INTEGER</type>
            <flagFormat>-n %s</flagFormat>
            <includeSpaces>true</includeSpaces>
        </option>
        <option>
            <id>STRANDNESS</id>
            <name>Standness option</name>
            <help>Determines whether --cmet-stranded of --cmet-nonstranded or --atoi-stranded or --atoi-nonstranded are
                used.
            </help>
            <required>true</required>
            <defaultsTo>STRANDED</defaultsTo>
            <autoFormat>false</autoFormat>
            <type>CATEGORY</type>
            <categories>
                <category>
                    <id>STRANDED</id>
                    <name>stranded</name>
                    <value>stranded</value>
                    <help>Stranded version of the GSNAP algorithms.</help>
                </category>
                <category>
                    <id>NON_STRANDED</id>
                    <name>non-stranded</name>
                    <value>nonstranded</value>
                    <help>Stranded version of the GSNAP algorithms.</help>
                </category>
            </categories>
        </option>

        <option>
            <id>SPLICED_ALIGNMENT</id>
            <name>Spliced alignment</name>
            <help>Search for splices during alignment</help>
            <required>true</required>
            <defaultsTo>NON_SPLICED</defaultsTo>
            <autoFormat>false</autoFormat>
            <type>CATEGORY</type>
            <categories>
                <category>
                    <id>NON_SPLICED</id>
                    <name>Non-spliced</name>
                    <value>nonspliced</value>
                    <help>Do no search for splicing during the alignment</help>
                </category>
                <category>
                    <id>SPLICED</id>
                    <name>Spliced</name>
                    <value>spliced</value>
                    <help>Search for splicing during the alignment</help>
                </category>
            </categories>
        </option>
        <option>
            <id>NON_MATCHING</id>
            <name>Export non-matching reads</name>
            <help>Output unmatched reads after alignment is complete</help>
            <required>true</required>
            <defaultsTo>false</defaultsTo>
            <type>BOOLEAN</type>
            <autoFormat>false</autoFormat>
        </option>
    </options>
</alignerConfig>
