<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Copyright (c) 2011  by Cornell University and the Cornell Research
  Foundation, Inc.  All Rights Reserved.

  Permission to use, copy, modify and distribute any part of GobyWeb web
  application for next-generation sequencing data alignment and analysis,
  officially docketed at Cornell as D-5061 ("WORK") and its associated
  copyrights for educational, research and non-profit purposes, without
  fee, and without a written agreement is hereby granted, provided that
  the above copyright notice, this paragraph and the following three
  paragraphs appear in all copies.

  Those desiring to incorporate WORK into commercial products or use WORK
  and its associated copyrights for commercial purposes should contact the
  Cornell Center for Technology Enterprise and Commercialization at
  395 Pine Tree Road, Suite 310, Ithaca, NY 14850;
  email:cctecconnect@cornell.edu; Tel: 607-254-4698;
  FAX: 607-254-5454 for a commercial license.

  IN NO EVENT SHALL THE CORNELL RESEARCH FOUNDATION, INC. AND CORNELL
  UNIVERSITY BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL,
  OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF THE USE OF
  WORK AND ITS ASSOCIATED COPYRIGHTS, EVEN IF THE CORNELL RESEARCH FOUNDATION,
  INC. AND CORNELL UNIVERSITY MAY HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH
  DAMAGE.

  THE WORK PROVIDED HEREIN IS ON AN "AS IS" BASIS, AND THE CORNELL RESEARCH
  FOUNDATION, INC. AND CORNELL UNIVERSITY HAVE NO OBLIGATION TO PROVIDE
  MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS, OR MODIFICATIONS.  THE CORNELL
  RESEARCH FOUNDATION, INC. AND CORNELL UNIVERSITY MAKE NO REPRESENTATIONS AND
  EXTEND NO WARRANTIES OF ANY KIND, EITHER IMPLIED OR EXPRESS, INCLUDING, BUT
  NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A
  PARTICULAR PURPOSE, OR THAT THE USE OF WORK AND ITS ASSOCIATED COPYRIGHTS
  WILL NOT INFRINGE ANY PATENT, TRADEMARK OR OTHER RIGHTS.
-->
<alignmentAnalysisConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
                         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Methylation analysis over annotated regions</name>
    <id>SEQ_VAR_GOBY_METHYLATION_REGIONS</id>
    <dbLegacyId>GobyMethylationRegions</dbLegacyId>
    <help>Compares groups of samples and produce methylation rate output and statistics for annotated regions of the
        genome. Implemented with Goby 1.9.2.2+.
    </help>
    <analysisType>Methylation</analysisType>
    <supportsTranscriptAlignments>false</supportsTranscriptAlignments>
    <splitProcessCombine>true</splitProcessCombine>
    <producesTabDelimitedOutput>true</producesTabDelimitedOutput>
    <producesVariantCallingFormatOutput>false</producesVariantCallingFormatOutput>
    <supportsGobyAlignments>true</supportsGobyAlignments>
    <version>1.6.1</version>
    <requires>
        <resource>
            <id>GOBY</id>
            <versionAtLeast>20120210111515</versionAtLeast>
        </resource>
        <resource>
            <id>IGVTOOLS</id>
            <versionAtLeast>1.5.16</versionAtLeast>
        </resource>
    </requires>
    <runtime>
        <need scope="GLOBAL" key="h_vmem" value="18g"/>
        <need scope="GLOBAL" key="virtual_free" value="20g"/>
        <need scope="PROCESS" key="excl" value="false"/>
        <need scope="PROCESS" key="h_vmem" value="8g"/>
        <need scope="PROCESS" key="virtual_free" value="8g"/>
        <need scope="PROCESS_JVM" value="6g"/>
        <need scope="COMBINE" key="excl" value="false"/>
        <need scope="COMBINE" key="h_vmem" value="6g"/>
        <need scope="COMBINE" key="virtual_free" value="6g"/>
        <need scope="COMBINE_JVM" value="4g"/>
    </runtime>
    <files>
        <file>
            <id>SCRIPT</id>
            <filename>script.sh</filename>
        </file>
    </files>
    <outputSchema>
        <outputFile>
            <id>STATS_RESULTS_DB</id>
            <name>Sqlite DB file</name>
            <required>true</required>
            <mimeType>application/x-sqlite3</mimeType>
            <filename>stats.db</filename>
            <help>Sqlite DB file with results of called variations.</help>
        </outputFile>
        <outputFile>
            <id>STATS_RESULTS</id>
            <name>TSV file</name>
            <required>true</required>
            <mimeType>text/tab-separated-values</mimeType>
            <filename>stats.tsv</filename>
            <help>Statistics of region methylation rates, in the IGV format (Download file as .tsv, rename to .igv to view in IGV).</help>
        </outputFile>
        <outputFile>
            <id>IGV_OUTPUT</id>
            <name>IGV file</name>
            <required>true</required>
            <mimeType>text/tab-separated-values</mimeType>
            <filename>methyl-regions.igv</filename>
            <help>Statistics of region methylation rates, in the IGV format. The file has been sorted and is ready to view in IGV. </help>
        </outputFile>
    </outputSchema>
    <options>
        <option>
            <id>OUTPUT_FORMAT</id>
            <dbLegacyId>analysisType_gobymethylation</dbLegacyId>
            <name>Type of analysis and output format</name>
            <help>Determines the type of sequence variation analysis to perform and the output format.</help>
            <required>true</required>
            <defaultsTo>METHYLATION</defaultsTo>
            <type>CATEGORY</type>
            <categories>
                <category>
                    <id>METHYLATION_REGIONS</id>
                    <name>methylation</name>
                    <value>METHYLATION_REGIONS</value>
                    <help>Estimate methylation rates over annotated regions of the genome.</help>
                    <dbLegacyValue>methylation_regions</dbLegacyValue>
                </category>
            </categories>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>Q_VALUE_THRESHOLD</id>
            <name>q-value threshold</name>
            <help>Threshold on q-values to determine if the candidate result should be kept. A candidate is kept if any
                q-value is lower than the threshold.
            </help>
            <required>true</required>
            <defaultsTo>0.05</defaultsTo>
            <type>DOUBLE</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>NUM_TOP_HITS</id>
            <name>Number of top hits</name>
            <help>Number of hits to report if no candidates has an adjusted p-value above the q-value threshold.</help>
            <required>true</required>
            <defaultsTo>10000</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>MINIMUM_VARIATION_SUPPORT</id>
            <name>Minimum variation support</name>
            <help>Minimum number of reads that must have the variation for the variation to be reported in the output
            </help>
            <required>true</required>
            <defaultsTo>35</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>THRESHOLD_DISTINCT_READ_INDICES</id>
            <name>Minimum number of distinct read indices</name>
            <help>Number of distinct read indices a position has to have to be reported in the output.</help>
            <required>true</required>
            <defaultsTo>1</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
        <option hiddenWhen="true">
            <id>CALL_INDELS</id>
            <name>Call indels</name>
            <help>When this option is active, indels are called and reported in the VCF output file. Please be advised
                that the VCF output may become incompatible with various tools, as rules for reporting indels in VCF are
                far from clearly described and various tools are known to interpret the VCF specification differently.
            </help>
            <required>true</required>
            <defaultsTo>false</defaultsTo>
            <type>BOOLEAN</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>FORCE_DIPLOID</id>
            <name>Diploid genome</name>
            <help>When this option is active, genotype calls are forced to be diploid. Use when you know that the
                genome the reads were generated from was diploid.
            </help>
            <required>false</required>
            <defaultsTo>false</defaultsTo>
            <type>BOOLEAN</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>ANNOTATIONS</id>
            <name>Annotations</name>
            <help>The annotation file to use to define regions.</help>
            <required>true</required>
            <defaultsTo>NONE</defaultsTo>
            <dbLegacyId>something</dbLegacyId>
            <categories>
                <category>
                    <id>GENES</id>
                    <name>Genes</name>
                    <value>${NODE_LOCAL_DATA_ROOT}/annotations/${ORGANISM}/methyl-gene-annotations.tsv</value>
                    <help>Regions over gene boundaries.</help>
                    <dbLegacyValue>genes</dbLegacyValue>
                </category>
                <category>
                    <id>EXONS</id>
                    <name>Exons</name>
                    <value>${NODE_LOCAL_DATA_ROOT}/annotations/${ORGANISM}/methyl-exon-annotations.tsv</value>
                    <help>Regions over exon boundaries.</help>
                    <dbLegacyValue>exons</dbLegacyValue>
                </category>
                <category>
                    <id>CPG_ISLANDS</id>
                    <name>Cpg Islands</name>
                    <value>${NODE_LOCAL_DATA_ROOT}/annotations/${ORGANISM}/methyl-cpgIsland-annotations.tsv</value>
                    <help>Regions over CpG island boundaries.</help>
                    <dbLegacyValue>cpgs</dbLegacyValue>
                </category>
                <category>
                    <id>REFSEQ_PROMOTER</id>
                    <name>Refseq Promoter</name>
                    <value>${NODE_LOCAL_DATA_ROOT}/annotations/${ORGANISM}/methyl-refseq-promoter-annotations.tsv</value>
                    <help>Regions 2kb +/- from the transcription start site of refseq transcripts.</help>
                    <dbLegacyValue>promoters</dbLegacyValue>
                </category>
            </categories>
            <type>CATEGORY</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>INDEL_RATE</id>
            <name>Estimate indel rate</name>
            <help>When this option is active, the rate of indels is estimated over each annotation. The percentage of sites where an indel is called is written in the MR field(s).
            </help>
            <required>false</required>
            <defaultsTo>false</defaultsTo>
            <type>BOOLEAN</type>
            <autoFormat>false</autoFormat>
        </option>
    </options>
    <minimumNumberOfGroups>1</minimumNumberOfGroups>
    <maximumNumberOfGroups>10</maximumNumberOfGroups>
</alignmentAnalysisConfig>
