<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<resourceConfig>
    <name>Goby</name>
    <id>GOBY</id>
    <help>Goby framework and toolbox. See http://goby.campagnelab.org.</help>
    <version>20111024133413</version>
    <files>
        <file>
            <id>GOBY_JAR</id>
            <filename>goby.jar</filename>
        </file>
    </files>
</resourceConfig>
