<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<alignmentAnalysisConfig>
    <name>Differential Expression Analysis with Goby</name>
    <id>DIFF_EXP_GOBY</id>
    <help>Compares groups of samples to determine set of gene/exon or other annotations differentially expressed across
        groups. Counts and statistics are estimated with Goby.
    </help>
    <supportsTranscriptAlignments>false</supportsTranscriptAlignments>
    <splitProcessCombine>true</splitProcessCombine>
    <producesTabDelimitedOutput>true</producesTabDelimitedOutput>
    <version>1.0</version>
    <requires>
        <resource>
            <id>GOBY</id>
            <version>20111021144833</version>
        </resource>
    </requires>
    <files>
        <file>
            <id>R_SCRIPT</id>
            <filename>GobyDEToPlots.R</filename>
        </file>
        <file>
            <id>PARALLEL_SCRIPT</id>
            <filename>parallel.sh</filename>
        </file>
    </files>
    <options>
        <option>
            <id>NORMALIZATION_METHOD</id>
            <name>Normalization</name>
            <help>Normalization method(s).</help>
            <required>true</required>
            <defaultsTo>aligned-count</defaultsTo>
            <type>CATEGORY</type>
            <categories>
                <category>aligned-count</category>
                <category>bullard-upper-quartile</category>
            </categories>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>REMOVE_SHARED_SEGMENTS</id>
            <name>Remove shared segments</name>
            <help>Remove annotation segments when they partially overlap with more than one primary annotation id. When
                this option is selected and the primary id is a gene, and secondary id is an exon, the mode will remove
                exons that are associated with several genes. When the option is used with transcript id as primary and
                exon as secondary, exons are removed that are shared across different transcripts of the same gene.
            </help>
            <required>false</required>
            <defaultsTo>false</defaultsTo>
            <type>SWITCH</type>
            <autoFormat>true</autoFormat>
            <flagFormat>--remove-shared-segments</flagFormat>
            <includeSpaces>true</includeSpaces>
        </option>
        <option>
            <id>NUM_TOP_HITS</id>
            <name>Number of top hits</name>
            <help>Number of hits to report if no candidates has an adjusted p-value above the q-value threshold.</help>
            <required>true</required>
            <defaultsTo>10000</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>Q_VALUE_THRESHOLD</id>
            <name>q-value threshold</name>
            <help>Threshold on q-values to determine if the candidate result should be kept. A candidate is kept if any
                q-value is lower than the threshold.
            </help>
            <required>true</required>
            <defaultsTo>1.0</defaultsTo>
            <type>DOUBLE</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>TEST1</id>
            <name>q-value threshold</name>
            <help>Threshold on q-values to determine if the candidate result should be kept. A candidate is kept if any
                q-value is lower than the threshold.
            </help>
            <required>true</required>
            <defaultsTo>1.0</defaultsTo>
            <type>DOUBLE</type>
            <autoFormat>true</autoFormat>
        </option>

        <option>
            <id>TEST2</id>
            <name>q-value threshold</name>
            <help>Threshold on q-values to determine if the candidate result should be kept. A candidate is kept if any
                q-value is lower than the threshold.
            </help>
            <required>true</required>
            <defaultsTo>true</defaultsTo>
            <type>SWITCH</type>
            <autoFormat>true</autoFormat>
        </option>
        <option>
            <id>TEST3_FALSE_SWITCH</id>
            <name>q-value threshold</name>
            <help>Threshold on q-values to determine if the candidate result should be kept. A candidate is kept if any
                q-value is lower than the threshold.
            </help>
            <required>true</required>
            <defaultsTo>false</defaultsTo>
            <type>SWITCH</type>
            <autoFormat>true</autoFormat>
        </option>

        <option>
            <id>TEST4_FALSE_BOOLEAN</id>
            <name>q-value threshold</name>
            <help>Threshold on q-values to determine if the candidate result should be kept. A candidate is kept if any
                q-value is lower than the threshold.
            </help>
            <required>true</required>
            <defaultsTo>false</defaultsTo>
            <type>BOOLEAN</type>
            <autoFormat>true</autoFormat>
        </option>
    </options>
    <output-schema>
        <file>
            <id>STATS_RESULTS</id>
            <required>true</required>
            <name>Statistics</name>
            <mime-type>text/tab-separated-values</mime-type>
            <filename>stats.tsv</filename>
            <help>Statistics of differential expression (generated by the Goby annotation-to-counts mode).</help>
        </file>
        <file>
            <id>GENE_SCATTER_PLOT</id>
            <name>Gene scatter plot</name>
            <required>false</required>
            <mime-type>image/png</mime-type>
            <filename>GENE.png</filename>
            <help>Scatter plot for gene counts.</help>
        </file>
        <file>
            <id>EXON_SCATTER_PLOT</id>
            <name>Exon scatter plot</name>
            <required>false</required>
            <mime-type>image/png</mime-type>
            <filename>EXON.png</filename>
            <help>Scatter plot for exon counts.</help>
        </file>
        <file>
            <id>OTHER_SCATTER_PLOT</id>
            <name>Other scatter plot</name>
            <required>false</required>
            <mime-type>image/png</mime-type>
            <filename>OTHER.png</filename>
            <help>Scatter plot for other regions counts (intergenic regions).</help>
        </file>
        <file>
            <id>TRANSCRIPT_SCATTER_PLOT</id>
            <name>Transcript scatter plot</name>
            <required>false</required>
            <mime-type>image/png</mime-type>
            <filename>TRANSCRIPT.png</filename>
            <help>Scatter plot for transcripts counts.</help>
        </file>
    </output-schema>

</alignmentAnalysisConfig>
