<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Copyright (c) 2011  by Cornell University and the Cornell Research
  Foundation, Inc.  All Rights Reserved.

  Permission to use, copy, modify and distribute any part of GobyWeb web
  application for next-generation sequencing data alignment and analysis,
  officially docketed at Cornell as D-5061 ("WORK") and its associated
  copyrights for educational, research and non-profit purposes, without
  fee, and without a written agreement is hereby granted, provided that
  the above copyright notice, this paragraph and the following three
  paragraphs appear in all copies.

  Those desiring to incorporate WORK into commercial products or use WORK
  and its associated copyrights for commercial purposes should contact the
  Cornell Center for Technology Enterprise and Commercialization at
  395 Pine Tree Road, Suite 310, Ithaca, NY 14850;
  email:cctecconnect@cornell.edu; Tel: 607-254-4698;
  FAX: 607-254-5454 for a commercial license.

  IN NO EVENT SHALL THE CORNELL RESEARCH FOUNDATION, INC. AND CORNELL
  UNIVERSITY BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL,
  OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF THE USE OF
  WORK AND ITS ASSOCIATED COPYRIGHTS, EVEN IF THE CORNELL RESEARCH FOUNDATION,
  INC. AND CORNELL UNIVERSITY MAY HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH
  DAMAGE.

  THE WORK PROVIDED HEREIN IS ON AN "AS IS" BASIS, AND THE CORNELL RESEARCH
  FOUNDATION, INC. AND CORNELL UNIVERSITY HAVE NO OBLIGATION TO PROVIDE
  MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS, OR MODIFICATIONS.  THE CORNELL
  RESEARCH FOUNDATION, INC. AND CORNELL UNIVERSITY MAKE NO REPRESENTATIONS AND
  EXTEND NO WARRANTIES OF ANY KIND, EITHER IMPLIED OR EXPRESS, INCLUDING, BUT
  NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A
  PARTICULAR PURPOSE, OR THAT THE USE OF WORK AND ITS ASSOCIATED COPYRIGHTS
  WILL NOT INFRINGE ANY PATENT, TRADEMARK OR OTHER RIGHTS.
-->
<alignmentAnalysisConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
                         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Contaminant identification</name>
    <id>CONTAMINANT_EXTRACT</id>
    <dbLegacyId>Extract Contaminants</dbLegacyId>
    <help>Finds potential contaminants based on the unmapped reads in the alignments. This plugin will create contigs from unmapped reads, and try to align these contigs to viral and bacterial nucleotide sequences to identify potential sample contaminants.
    </help>
    <analysisType>DiffExp</analysisType>
    <supportsTranscriptAlignments>false</supportsTranscriptAlignments>
    <splitProcessCombine>true</splitProcessCombine>
    <producesTabDelimitedOutput>true</producesTabDelimitedOutput>
    <supportsGobyAlignments>true</supportsGobyAlignments>
    <copyWeightFiles>false</copyWeightFiles>
    <version>1.5</version>
    <files>
        <file>
            <id>OUTPUT_FORMATTER</id>
            <filename>OutputFormatter.groovy</filename>
        </file>
        <file>
        	<id>VIRAL_REF</id>
        	<filename>viralref.tar.gz</filename>
        </file>
        <file>
        	<id>VIRAL_NAMES</id>
        	<filename>viral-names.map</filename>
        </file>
    </files>
    <requires>
        <resource>
            <id>GOBY</id>
            <versionAtLeast>20120723142616</versionAtLeast>
        </resource>
        <resource>
            <id>MINIA</id>
            <versionAtLeast>20120626</versionAtLeast>
        </resource>
        <resource>
        	<id>TRINITY</id>
        	<versionAtLeast>20120518</versionAtLeast>
        </resource>
        <resource>
            <id>LAST</id>
            <versionAtLeast>230</versionAtLeast>
        </resource>
        <resource>
        	<id>EXTRACT_NONMATCHED</id>
        	<versionAtLeast>2012.06.04</versionAtLeast>
        </resource>
        <resource>
            <id>BWA_WITH_GOBY</id>
            <versionAtLeast>0.5.9.16</versionAtLeast>
        </resource>
        <resource>
        	<id>ILLUMINA_ADAPTERS</id>
        	<versionAtLeast>1.0</versionAtLeast>
        </resource>
    </requires>
    <runtime>
        <need scope="PROCESS" key="excl" value="false"/>
        <need scope="PROCESS" key="h_vmem" value="20g"/>
        <need scope="PROCESS" key="virtual_free" value="20g"/>
        <need scope="PROCESS_JVM" value="15g"/>
        <need scope="GLOBAL" key="excl" value="false"/>
        <need scope="GLOBAL" key="h_vmem" value="8g"/>
        <need scope="GLOBAL" key="virtual_free" value="8g"/>
        <need scope="COMBINE" key="excl" value="false"/>
        <need scope="COMBINE" key="h_vmem" value="4g"/>
        <need scope="COMBINE" key="virtual_free" value="4g"/>
        <need scope="COMBINE_JVM" value="2g"/>
        <need scope="SPLIT_JVM" value="6g"/>
    </runtime>
    <execute>
        <script phase="pre-deployment" language="groovy" filename="alignmentsToReads.groovy"/>
    </execute>
    <outputSchema>
        <outputFile>
            <id>CONTAMINANT_RESULTS_DB</id>
            <name>table with full results of analysis</name>
            <required>true</required>
            <mimeType>application/x-sqlite3</mimeType>
            <filename>contaminants.db</filename>
            <tableName>contaminants</tableName>
            <help>View the table of results in the interactive GobyWeb table browser. Table contains found
                contaminants.
            </help>
        </outputFile>
        <outputFile>
            <id>CONTAMINANT_RESULTS</id>
            <name>TSV file with full results of analysis</name>
            <required>true</required>
            <mimeType>text/tab-separated-values</mimeType>
            <filename>contaminants.tsv</filename>
            <help>TSV file with results of contaminant extraction.</help>
        </outputFile>
        <outputFile>
            <id>CONTAMINANT_SUMMARY_DB</id>
            <name>table with summary of analysis</name>
            <required>true</required>
            <mimeType>application/x-sqlite3</mimeType>
            <filename>summary.db</filename>
            <tableName>summary</tableName>
            <help>View the table of results in the interactive GobyWeb table browser. Table contains summary of found contaminants.</help>
        </outputFile>
        <outputFile>
            <id>CONTAMINANT_SUMMARY</id>
            <name>TSV file with summary results of analysis</name>
            <required>true</required>
            <mimeType>text/tab-separated-values</mimeType>
            <filename>summary.tsv</filename>
            <help>TSV file with a summary of contaminant extraction.</help>
        </outputFile>
        <outputFile>
            <id>REALIGNED_UNMAPPED_DB</id>
            <name>table with match counts of contigs to unmapped reads</name>
            <required>true</required>
            <mimeType>application/x-sqlite3</mimeType>
            <filename>realigned.db</filename>
            <tableName>realigned</tableName>
            <help>View the table of results in the interactive GobyWeb table browser. Table contains counts of contigs matched to unmapped reads.</help>
        </outputFile>
        <outputFile>
            <id>REALIGNED_UNMAPPED</id>
            <name>TSV file with match counts of contigs to unmapped reads</name>
            <required>true</required>
            <mimeType>text/tab-separated-values</mimeType>
            <filename>realigned.tsv</filename>
            <help>TSV file with match counts of contigs to unmapped reads.</help>
        </outputFile>
        <outputFile>
            <id>ASSEMBLED_READS</id>
            <name>Assembled Reads</name>
            <required>true</required>
            <mimeType>application/x-tar</mimeType>
            <filename>assembled-reads.tar.gz</filename>
            <help>GZIP archive with the assembled reads from each sample</help>
        </outputFile>
    </outputSchema>
    <options>
    	<option>
    		<id>ASSEMBLER</id>
    		<name>Assembler</name>
    		<help>The assembler to use when combining reads into contigs</help>
    		<required>true</required>
    		<defaultsTo>MINIA</defaultsTo>
    		<type>CATEGORY</type>
    		<categories>
    			<category>
    				<id>MINIA</id>
    				<name>Minia</name>
    				<value>MINIA</value>
    				<help>http://minia.genouest.org/</help>
    			</category>
    			<category>
    				<id>TRINITY</id>
    				<name>Trinity</name>
    				<value>TRINITY</value>
    				<help>http://trinityrnaseq.sourceforge.net/</help>
    			</category>
    		</categories>
    	</option>
    	<option>
    		<id>ALIGNER</id>
    		<name>Aligner</name>
    		<help>The aligner to use for realigning reads to contigs</help>
    		<required>true</required>
    		<defaultsTo>LAST</defaultsTo>
    		<type>CATEGORY</type>
    		<categories>
    			<category>
    				<id>LAST</id>
    				<name>Last</name>
    				<value>LAST</value>
    				<help>http://last.cbrc.jp/</help>
    			</category>
    			<category>
    				<id>BWA</id>
    				<name>BWA</name>
    				<value>BWA</value>
    				<help>http://bio-bwa.sourceforge.net/</help>
    			</category>
    		</categories>
    	</option>
    	<option>
    		<id>EVALUETHRESHOLD</id>
    		<name>E-value Threshold</name>
    		<help>Matches with an E-value above the threshold will not be considered significant</help>
    		<required>true</required>
    		<defaultsTo>1e-6</defaultsTo>
    		<type>DOUBLE</type>
    	</option>
    	<option>
    		<id>IDENTITYTHRESHOLD</id>
    		<name>Percent Identity Threshold</name>
    		<help>Matches with a percent identity below the threshold will not be considered significant</help>
    		<required>true</required>
    		<defaultsTo>90</defaultsTo>
    		<type>DOUBLE</type>
    	</option>
    	<option>
            <id>TRIM_ADAPTERS</id>
            <name>Trim Illumina Adapters</name>
            <help>Illumina Adapters will be trimmed from unmatched reads before assembly</help>
            <required>true</required>
            <defaultsTo>true</defaultsTo>
            <type>BOOLEAN</type>
            <autoFormat>false</autoFormat>
        </option>
    </options>
    <minimumNumberOfGroups>1</minimumNumberOfGroups>
    <maximumNumberOfGroups>10</maximumNumberOfGroups>
</alignmentAnalysisConfig>
