<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Copyright (c) 2011  by Cornell University and the Cornell Research
  Foundation, Inc.  All Rights Reserved.

  Permission to use, copy, modify and distribute any part of GobyWeb web
  application for next-generation sequencing data alignment and analysis,
  officially docketed at Cornell as D-5061 ("WORK") and its associated
  copyrights for educational, research and non-profit purposes, without
  fee, and without a written agreement is hereby granted, provided that
  the above copyright notice, this paragraph and the following three
  paragraphs appear in all copies.

  Those desiring to incorporate WORK into commercial products or use WORK
  and its associated copyrights for commercial purposes should contact the
  Cornell Center for Technology Enterprise and Commercialization at
  395 Pine Tree Road, Suite 310, Ithaca, NY 14850;
  email:cctecconnect@cornell.edu; Tel: 607-254-4698;
  FAX: 607-254-5454 for a commercial license.

  IN NO EVENT SHALL THE CORNELL RESEARCH FOUNDATION, INC. AND CORNELL
  UNIVERSITY BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL,
  OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF THE USE OF
  WORK AND ITS ASSOCIATED COPYRIGHTS, EVEN IF THE CORNELL RESEARCH FOUNDATION,
  INC. AND CORNELL UNIVERSITY MAY HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH
  DAMAGE.

  THE WORK PROVIDED HEREIN IS ON AN "AS IS" BASIS, AND THE CORNELL RESEARCH
  FOUNDATION, INC. AND CORNELL UNIVERSITY HAVE NO OBLIGATION TO PROVIDE
  MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS, OR MODIFICATIONS.  THE CORNELL
  RESEARCH FOUNDATION, INC. AND CORNELL UNIVERSITY MAKE NO REPRESENTATIONS AND
  EXTEND NO WARRANTIES OF ANY KIND, EITHER IMPLIED OR EXPRESS, INCLUDING, BUT
  NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A
  PARTICULAR PURPOSE, OR THAT THE USE OF WORK AND ITS ASSOCIATED COPYRIGHTS
  WILL NOT INFRINGE ANY PATENT, TRADEMARK OR OTHER RIGHTS.
-->
<alignmentAnalysisConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Differential Expression Analysis with DESeq</name>
    <id>DIFF_EXP_DESEQ</id>
    <dbLegacyId>DESeq</dbLegacyId>
    <help>Compares groups of samples to determine set of gene/exon or other annotations differentially expressed across
        groups. Counts are calculated with Goby, statistics of diffential expression are estimated with DESeq.
    </help>
    <analysisType>DiffExp</analysisType>
    <supportsTranscriptAlignments>false</supportsTranscriptAlignments>
    <splitProcessCombine>true</splitProcessCombine>
    <producesTabDelimitedOutput>true</producesTabDelimitedOutput>
    <version>1.0</version>
    <supportsGobyAlignments>true</supportsGobyAlignments>
    <requires>
        <resource>
            <id>GOBY</id>
            <versionAtLeast>20111021144833</versionAtLeast>
        </resource>
    </requires>
    <options>
        <option>
            <id>NUM_TOP_HITS</id>
            <name>Number of top hits</name>
            <help>Number of hits to report if no candidates has an adjusted p-value above the q-value threshold.</help>
            <required>true</required>
            <defaultsTo>10000</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>Q_VALUE_THRESHOLD</id>
            <name>q-value threshold</name>
            <help>Threshold on q-values to determine if the candidate result should be kept. A candidate is kept if any
                q-value is lower than the threshold.
            </help>
            <required>true</required>
            <defaultsTo>1.0</defaultsTo>
            <type>DOUBLE</type>
            <autoFormat>false</autoFormat>
        </option>
        <!--option>
            <id>TEST1</id>
            <name>q-value threshold</name>
            <help>Threshold on q-values to determine if the candidate result should be kept. A candidate is kept if any
                q-value is lower than the threshold.
            </help>
            <required>true</required>
            <defaultsTo>1.0</defaultsTo>
            <type>DOUBLE</type>
            <flagFormat>&dash;&dash;test1 %s</flagFormat>
            <autoFormat>true</autoFormat>
        </option>

        <option>
            <id>TEST2</id>
            <name>q-value threshold</name>
            <help>Threshold on q-values to determine if the candidate result should be kept. A candidate is kept if any
                q-value is lower than the threshold.
            </help>
            <required>true</required>
            <defaultsTo>true</defaultsTo>
            <type>SWITCH</type>
            <flagFormat>&dash;&dash;test2</flagFormat>
            <autoFormat>true</autoFormat>
        </option>
        <option>
            <id>TEST3_FALSE_SWITCH</id>
            <name>q-value threshold</name>
            <help>Threshold on q-values to determine if the candidate result should be kept. A candidate is kept if any
                q-value is lower than the threshold.
            </help>
            <required>true</required>
            <defaultsTo>false</defaultsTo>
            <type>SWITCH</type>
            <flagFormat>&dash;&dash;test3</flagFormat>
            <autoFormat>true</autoFormat>
        </option>

        <option>
            <id>TEST4_FALSE_BOOLEAN</id>
            <name>q-value threshold</name>
            <help>Threshold on q-values to determine if the candidate result should be kept. A candidate is kept if any
                q-value is lower than the threshold.
            </help>
            <required>true</required>
            <defaultsTo>false</defaultsTo>
            <flagFormat>&dash;&dash;test4 %s</flagFormat>
            <type>BOOLEAN</type>
            <autoFormat>true</autoFormat>
        </option-->
    </options>
    <files>
        <file>
            <id>R_SCRIPT</id>
            <filename>geneDESeqAnalysis.R</filename>
        </file>
        <file>
            <id>PARALLEL_SCRIPT</id>
            <filename>parallel.sh</filename>
            <importFromPlugin>DIFF_EXP_GOBY</importFromPlugin>
        </file>
    </files>
    <outputSchema>
        <outputFile>
            <id>STATS_RESULTS_DB</id>
            <name>Sqlite DB file</name>
            <required>true</required>
            <mimeType>application/x-sqlite3</mimeType>
            <filename>stats.db</filename>
            <help>Sqlite DB file with statistics of differential expression (generated by the DESeq R package after counts have been
                produced with the goby alignment-to-counts mode).
            </help>
        </outputFile>
        <outputFile>
            <id>STATS_RESULTS</id>
            <name>Statistics</name>
            <required>true</required>
            <mimeType>text/tab-separated-values</mimeType>
            <filename>stats.tsv</filename>
            <help>Statistics of differential expression (generated by the DESeq R package after counts have been
                produced with the goby alignment-to-counts mode).
            </help>
        </outputFile>
        <outputFile>
            <id>GENE_SCATTER_PLOT</id>
            <required>true</required>
            <name>Gene scatter plot</name>
            <mimeType>image/png</mimeType>
            <filename>GENE.png</filename>
            <help>Scatter plot for genes.</help>
        </outputFile>
        <outputFile>
            <id>EXON_SCATTER_PLOT</id>
            <name>Exon scatter plot</name>
            <required>true</required>
            <mimeType>image/png</mimeType>
            <filename>EXON.png</filename>
            <help>Scatter plot for exons.</help>
        </outputFile>
        <outputFile>
            <id>OTHER_SCATTER_PLOT</id>
            <name>Other scatter plot</name>
            <required>true</required>
            <mimeType>image/png</mimeType>
            <filename>OTHER.png</filename>
            <help>Scatter plot for other (intergenic regions).</help>
        </outputFile>
    </outputSchema>
    <minimumNumberOfGroups>2</minimumNumberOfGroups>
    <maximumNumberOfGroups>2</maximumNumberOfGroups>
</alignmentAnalysisConfig>

