<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<alignmentAnalysisConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Sequence Variation Analyses with samtools</name>
    <id>SEQ_VAR_SAMTOOLS</id>
    <help>Compares groups of samples and produce output about sequence variants observed in the alignments. Implemented
        with SAMTOOLS. Specific analysis depends on selected output format.
    </help>
    <supportsTranscriptAlignments>false</supportsTranscriptAlignments>
    <splitProcessCombine>true</splitProcessCombine>
    <producesVariantCallingFormatOutput>true</producesVariantCallingFormatOutput>
    <version>1.0</version>
    <requires>
        <resource>
            <id>SAMTOOLS</id>
            <versionAtLeast>0.1.14</versionAtLeast>
        </resource>
    </requires>
    <options>
        <option>
            <id>OUTPUT_FORMAT</id>
            <name>Type of analysis and output format</name>
            <help>Determines the type of sequence variation analysis to perform and the output format.</help>
            <required>true</required>
            <defaultsTo>genotypes</defaultsTo>
            <type>CATEGORY</type>
            <categories>
                <category>genotypes</category>
                <category>group_comparisons</category>
            </categories>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>NUM_TOP_HITS</id>
            <name>Number of top hits</name>
            <help>Number of hits to report if no candidates has an adjusted p-value above the q-value threshold.</help>
            <required>true</required>
            <defaultsTo>10000</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
    </options>
</alignmentAnalysisConfig>
