<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<alignerConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>BWA (BAM output)</name>
    <id>BWA_BAM</id>
    <dbLegacyId>bwa bam output</dbLegacyId>
    <help>BWA writing to BAM output. This aligner requests exclusive access to a server node and run parallel on this
        node against a single reads file.
    </help>
    <requires>
        <resource>
            <id>BWA_WITH_GOBY</id>
            <versionAtLeast>0.5.9.16</versionAtLeast>
        </resource>
        <resource>
            <id>SAMTOOLS</id>
            <versionAtLeast>0.1.14</versionAtLeast>
        </resource>
    </requires>
    <supportsColorSpace>true</supportsColorSpace>
    <supportsBisulfiteConvertedReads>false</supportsBisulfiteConvertedReads>
    <supportsGobyReads>true</supportsGobyReads>
    <supportsGobyAlignments>false</supportsGobyAlignments>
    <supportsPairedEndAlignments>true</supportsPairedEndAlignments>
    <supportsFastqReads>false</supportsFastqReads>
    <supportsFastaReads>false</supportsFastaReads>
    <supportsBAMAlignments>true</supportsBAMAlignments>
    <indexDirectory>%NODE_LOCAL_DATA_ROOT%/%VERSION%/%ORGANISM%/%SPACE%/bwa</indexDirectory>
    <options>
        <option>
            <id>ALIGNER_OPTIONS</id>
            <dbLegacyId>alignerAdvancedOptions</dbLegacyId>
            <name>Other aligner options</name>
            <help>Provide any additional BWA option here following the syntax expected by BWA.</help>
            <required>false</required>
            <defaultsTo></defaultsTo>
            <type>STRING</type>
            <flagFormat>%s</flagFormat>
            <includeSpaces>true</includeSpaces>
        </option>
    </options>
    <version>1.0</version>
</alignerConfig>
