<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<alignmentAnalysisConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Sequence Variation Analyses with Goby</name>
    <id>SEQ_VAR_GOBY</id>
    <help>Compares groups of samples and produce output about sequence variants observed in the alignments. Implemented
        with Goby. Specific analysis depends on selected output format.
    </help>
    <supportsTranscriptAlignments>false</supportsTranscriptAlignments>
    <splitProcessCombine>true</splitProcessCombine>
    <producesVariantCallingFormatOutput>true</producesVariantCallingFormatOutput>
    <version>1.0</version>
    <outputSchema>
        <outputFile>
            <id>STATS_RESULTS</id>
            <name>VCF file</name>
            <required>true</required>
            <mimeType>text/variant-calling-format</mimeType>
            <filename>stats.vcf.gz</filename>
            <help>VCF file with results of called variations.</help>
        </outputFile>
        <outputFile>
            <id>STATS_RESULTS_INDEX</id>
            <name>VCF file index</name>
            <required>true</required>
            <mimeType>text/variant-calling-format-index</mimeType>
            <filename>stats.vcf.gz.tbi</filename>
            <help>VCF file index (produced with tabix).</help>
        </outputFile>
    </outputSchema>
    <options>
        <option>
            <id>OUTPUT_FORMAT</id>
            <name>Type of analysis and output format</name>
            <help>Determines the type of sequence variation analysis to perform and the output format.</help>
            <required>true</required>
            <defaultsTo>genotypes</defaultsTo>
            <type>CATEGORY</type>
            <categories>
                <category>genotypes</category>
                <category>allele_frequencies</category>
                <category>group_comparisons</category>
            </categories>
            <autoFormat>true</autoFormat>
            <flagFormat>--format=%s</flagFormat>
            <includeSpaces>true</includeSpaces>
        </option>
        <option>
            <id>NUM_TOP_HITS</id>
            <name>Number of top hits</name>
            <help>Number of hits to report if no candidates has an adjusted p-value above the q-value threshold.</help>
            <required>true</required>
            <defaultsTo>10000</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>MINIMUM_VARIATION_SUPPORT</id>
            <name>Minimum variation support</name>
            <help>Minimum number of reads that must have the variation for the variation to be reported in the output
            </help>
            <required>true</required>
            <defaultsTo>1</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>THRESHOLD_DISTINCT_READ_INDICES</id>
            <name>Minimum number of distinct read indices</name>
            <help>Number of distinct read indices a position has to have to be reported in the output.</help>
            <required>true</required>
            <defaultsTo>1</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
    </options>
</alignmentAnalysisConfig>
